* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 1rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

.logo {
    height: 3rem;
}

.menú {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    height: 3rem;
}

.menu-tablet {

    display: none;

}

.blue {
    background-color: rgb(104, 188, 236);
    color: white;
    padding: 8rem 2rem 1rem;
}

.white {

    background-color: white;
    color: black;
    padding: 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;

}

.titulo1 {
    font-weight: bold;
    font-size: 3rem;

}

.parrafo1 {
    padding: 2rem 0rem;
    font-weight: bold;
    line-height: 3rem;
}

.contenedor-button {
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
    background-color: green;
    color: white;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 0rem;
    border: none;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.parrafo2 {
    padding: 2rem 0rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.titulo2 {

    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;

}

.imagen {

    width: 15rem;

}

.white h3 {

    font-weight: bold;
    padding-bottom: 2rem;
}



.container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.white article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;

}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 12rem;
    padding: 1rem;
    font-size: small;
}

.footer img {
    width: 3rem;
}

.españa {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.copy {

    position: absolute;
    top: 5.5rem;
    right: 1rem;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    width: 93vw;
    position: absolute;
    top: 5rem;
    left: 0.5rem;


}

.a {
    padding: 0rem 0.5rem;
    color: white;
    text-decoration: none;
}

.info {
    color: white;
    text-decoration: none;
    grid-column: 1/3;
    grid-row: 2/3;


}

.nav-footer {
    display: grid;
    grid-template-columns: 10vw 1fr;
    grid-template-rows: 4vh 1fr;
}

@media (min-width: 768px) {
    .menu-tablet a {

        color: white;
        text-decoration: none;
    }

    .menu-tablet {

        color: white;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        column-gap: 3rem;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .menú {
        display: none;
    }

    .titulo1 {
        font-weight: bold;
        font-size: 5.5rem;

    }

    .parrafo1 {
        padding: 2rem 0rem;
        font-weight: bold;
        line-height: 3rem;
        font-size: 2.1rem;
    }

    .parrafo2 {

        max-width: 70%;
    }

    .white {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .white article {
        max-width: 200px;
    }

    .titulo2 {
        width: 100%;
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 5rem;
    }

    .imagen {
        width: 10rem;

    }

    .blue {
        background-image: url(../images/premium_dancer.png);
        height: 50vh;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contenedor-button {
        display: flex;
        justify-content: left;
    }

    .button {
        width: 20%;
        background-color: green;
        opacity: 0.7;
        color: white;
        font-size: 1rem;
        border-radius: 1.5rem;
        padding: 1rem 0rem;
        border: none;
        letter-spacing: 0.2rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
}

@media (min-width: 1000px) {

    .white {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        padding-top: 7rem;
        padding-bottom: 10rem;
    }

    /* pendiente de revisar altura del article*/
    .article {
        position: absolute;
        bottom: 2rem;

    }

    .container {

        position: relative;

    }


    .titulo2 {
        grid-column: 1/5;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .menu-footer {
        grid-column: 1 / 2;
    }

    .españa {
        grid-column: 3 / 4;

    }

    .copy {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        text-align: right;
    }

}